<h1>to-do list</h1>

<!-- Filter Buttons -->
<div class="button-list">
    <button class="active-link" (click)="setFilter('all')"
        [ngClass]="{ 'active-filter': filter === 'all' }">ALL</button> |
    <button class="active-link" (click)="setFilter('active')"
        [ngClass]="{ 'active-filter': filter === 'active'}">ACTIVE</button> |
    <button class="active-link" (click)="setFilter('completed')"
        [ngClass]="{ 'active-filter': filter === 'completed' }">COMPLETED</button>
</div>

<!-- Information -->
<div class="table-text">
    <p class="gray-text">
        ⓘ Create your own to-do list.<br />Add new items below and mark them complete when done.
    </p>
</div>

<!-- To-Do List -->
<div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of filteredTasks()">
                <td>
                    <ng-container *ngIf="task.id && editingField[task.id]?.['title']; else viewTask">
                        <input class="auto-width-input" [(ngModel)]="task.title" (blur)="stopEditing(task.id!, 'title', task)"
                            (keydown.enter)="stopEditing(task.id!, 'title', task)" autofocus />
                    </ng-container>
                    <ng-template #viewTask>
                        <span tabindex="0" *ngIf="task.id" (click)="startEditing(task.id, 'title')"
                            (keydown.enter)="startEditing(task.id, 'title')" [class.empty]="!task.title">{{
                            task.title }}</span>
                    </ng-template>
                </td>
                <td class="checkbox">
                    <input type="checkbox" [checked]="task.completed" (change)="toggleComplete(task.id)"
                        [attr.aria-label]="'Mark ' + task.title + (task.completed ? ' as incomplete' : ' as complete')" />
                </td>
                <td class="delete-cell"><button class="gray-text" (click)="deleteTask(task.id)">x</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="!showAddTask">
                <td colspan="4" class="no-left-padding">
                    <button class="gray-text align-add-button" (click)="handleAddTask()">+ Add New Task</button>
                </td>
            </tr>
            <tr *ngIf="showAddTask">
                <td><input class="auto-width-input" [(ngModel)]="newTask.title" [size]="newTask.title.length || 8"
                        (blur)="addTask(newTask)" (keydown.enter)="addTask(newTask)"></td>
                <td class="checkbox">
                    <input type="checkbox" [checked]="newTask.completed" (change)="toggleComplete(newTask.id)"
                        [disabled]="true"
                        [attr.aria-label]="'Mark ' + newTask.title + (newTask.completed ? ' as incomplete' : ' as complete')" />
                </td>
                <td class="delete-cell">
                    <button class="gray-text" (click)="cancelAddTask()">x</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>